{% extends "layout.njk" %}

{% block content %}
  
    {# <link rel="stylesheet" href="/public/css/mainpage.css"> #}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h2>Approach</h2>
                    
                    <div class="approach-text">
                        <img src="/public/images/handshakeColor.png" width='350px'

                             alt="Professional Handshake" 
                             class="approach-image">
                        
                        <div class="approach-content">
                            <span class="highlight-text">Bergen Risk Managers, Inc.</span> is unique in its ability to provide an integrated system of services tailored to particular client requirements, including the following programs:
                            
                            <br><br>
                            
                            • <strong>Comprehensive worker's compensation</strong> case management and claims administration<br>
                            • <strong>Medical provider network development</strong> and managed care<br>
                            • <strong>Medical re-pricing</strong> and cost-containment services<br>
                            • <strong>Nurse Case Managers</strong> on staff<br>
                            • <strong>General liability and automobile claims</strong> administration and management<br>
                            • <strong>Litigation management, subrogation,</strong> field investigation and surveillance<br>
                            • <strong>Risk management services,</strong> including workplace evaluation, injury analysis, pre-placement testing, and assistance in establishing an internal injury control system
                            
                            <br><br>
                            
                            The <span class="highlight-text">Bergen Risk approach</span> combines experienced claims administration with cost effective injury prevention, treatment, case management and control programs. Communication and expert technical support are a feature of every program.
                            
                            <br><br>
                            
                            Because Bergen Risk is <strong>locally owned and operated</strong>, its professional staff understands the unique requirements of the Northern New Jersey marketplace, and has first hand experience working with medical providers throughout the region.
                            
                            <br><br>
                            
                            Because Bergen Risk is a <strong>full service company</strong>, its clients benefit from service coordination and technical support not available from other third party administrators.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

{% endblock %}