{% extends "layout.njk" %}

{% block content %}

{# <link rel="stylesheet" href="/public/css/mainpage.css">
                  #}
 
    <div class="container">
        <div class="main-container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="main-title">
                            Automobile and General Liability Administration
                        </h2>
                        
                        <div class="approach-text">
                                 <img src="/public/images/liability1sm.jpg" width='350px'
                                 alt="Liability Claims" 
                                 class="approach-image">
                            
                            <div class="approach-content">
                                <span class="highlight-text">Bergen Risk Managers</span> believes that thorough, timely, and professional investigation of liability claims is just the first step in protecting the interests of its self-insured clients. Our staff of field investigators and adjusters is thoroughly trained and experienced in areas critical to the comprehensive handling of liability claims.
                            </div>
                        </div>
                        
                        <div class="subsection section-spacing">
                            <h2>Investigation</h2>
                            <p class="approach-content">
                                Our initial field investigation, designed to gather the facts surrounding an incident in preparation for a liability determination, includes direct contact with affected claimants, witnesses, and insured representatives, along with comprehensive loss location or instrumentality assessment. Subsequent investigation will include extensive medical treatment review and the use of independent medical examinations to evaluate alleged injuries and aid in future settlement valuation. Comprehensive claimant background review and video surveillance may be utilized in cases involving suspected fraud.
                            </p>
                        </div>

                        <div class="subsection">
                            <h2>Evaluation</h2>
                            <p class="approach-content">
                                Throughout the investigation, each claim is being evaluated for its liability potential. Each <span class="highlight-text">Bergen Risk adjuster</span> possesses extensive knowledge of, and familiarity with, statutory and case law which facilitates timely liability evaluation and reserve setting. Claim reserves are set based upon the merits and circumstances of each individual claim, and will reflect our client's probable percent exposure to the full claim liability value. In cases with extensive injuries or unusual circumstances, the consultative services and evaluations of attorneys and experts will be utilized, with proper notification and reporting to the appropriate reinsurer or excess carrier.
                            </p>
                        </div>

                        <div class="subsection">
                            <h2>Negotiation</h2>
                            <p class="approach-content">
                                Settlement negotiations are conducted based upon the comprehensive evaluation of each claim's merit and value. <strong>Fair and equitable settlement, with minimal litigation</strong>, is our objective in all legitimate liability cases. Denial and defense in frivolous and meritless cases is vigorously pursued.
                            </p>
                        </div>

                        <div class="subsection">
                            <h2>Subrogation</h2>
                            <p class="approach-content">
                                An area of claims handling often neglected by third party administrators, <span class="highlight-text">Bergen Risk Managers</span> recognizes the substantial benefit to the bottom line program cost presented by an aggressive subrogation posture, and believes each client should expect and receive, dedicated professional subrogation services from its claim administrator. Staff subrogation specialists, dedicated solely to the pursuit of monetary recoveries on behalf of our clients, evaluate each case for its subrogation possibilities and exhaustively pursue monies rightfully owed by other involved parties.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}