{% extends "badapple/layout-badapple.njk" %}

{% block content %}

<div class="badapple-wrapper">
  <h1>Bad Apple</h1>
  <p class="credit">Datastar SSE Streaming Demo - {{ frameCount }} frames</p>

  <div data-signals="{_percentage: 0, _contents: 'Press Start to play...', _elapsed: '0:00', _playing: false}">
    <div class="controls">
      <button data-show="!$_playing" data-on:click="$_playing = true; @get('/api_view/badapple/stream')">Start</button>
      <button data-show="$_playing" data-on:click="$_playing = false; window.stop()">Stop</button>
      <span class="elapsed" data-text="$_elapsed"></span>
      <span class="percentage" data-text="`${$_percentage.toFixed(1)}%`"></span>
      <input type="range" min="0" max="100" step="0.01" disabled data-attr:value="$_percentage" />
    </div>
  </div>

  <pre class="frame" data-text="$_contents"></pre>

  <div class="version-links">
    <span class="active">Raw SSE Version</span>
    <a href="/api_view/badapple-sdk">SDK Version</a>
  </div>
</div>

{% endblock %}