{% extends "layout.njk" %}

{% block content %}
  <style>
    body {
      padding: 2px;
      background-color: #e0e0e0;
      margin: 20px;
    }

    .main-container {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      background-color: #f8f8f8;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    .card {
      transition: transform 0.3s ease;
      height: 100%;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    }

    .card-header {
      padding: 15px;
      background-color: #fff;
      border-bottom: 1px solid #e5e5e5;
    }

    .card-img-top {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .card-title {
      font-size: 1.3rem;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .responsive-image {
      height: auto;
      width: 100%;
    }

    .intro-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: center;
    }

    @media (max-width: 768px) {
      .intro-grid {
        grid-template-columns: 1fr;
      }
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #0056b3;
      color: white;
    }
  </style>

  <div class="main-container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="container-fluid">
              <div class="text-content mb-4">
                <h2>GTZ</h2>
                <h3>
                  <p>Datastar / Fastify Examples</p>
              
                </h3>
              </div>

              <div class="intro-grid mb-5">
                <div class="image-wrapper">
                  <img src="/public/images/handshakeColor.png" alt="placeholder image" class="img-fluid rounded">
                </div>
                <div>
                  <p>
                    Email: jrt@gtz.com</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-4">
                {# class="nav-link" #}
                    <a  href="/api_view_sqlite/sqlbook" class="button w-100 text-center">Book Manager</a>
                </div>
                <div class="col-md-4 mb-4">
                  <a href="/api_view/todo" class="button w-100 text-center">todo</a>
                </div>
              </div>
             <p>Mongodb Book Manager* not implemented href="/api_view/book">Mongodb Book Manager* 
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}